/* body */
body{}
.btn{
  text-decoration:none;
  font-size:2rem;
  color:white;
  padding:10px 20px 10px 20px;
  /* 패딩 위쪽, 오른쪽 아래쪽 왼쪽 */
  margin:20px;
  display:inline-block;
  border-radius: 10px;
  /* 보더의 테두리 반지름*/
  transition:all 0.1s;
  /* 트랜지션 장면전환 효과 모든 속성에 대해서 변경되었을 때 0.1초동안 장면전환 됨 */
}
.btn:active{
  transform:translateY(10px);
  /* 눌렀을 때 액티브 되었을 때 Y축으로 10픽셀 움직임*/
}
.btn.blue{
  background-color: #1f75d9;
}
.btn.red{
  background-color: red;
}