/* google-degine_style.css */
body{
  margin:0;
  padding:0;
}

  .container-1{
  }
  .container-1 div{
    padding:10px;
    text-align:center;
    height:20%;
    transition:all 1s;
  }

  .container-1 div:hover{
    height:80%;
    border:.3rem black solid;
  }
  .container-1 div:hover div{
    font-size:4rem;
    margin:auto;
    width:50%;
    height:auto;
    border:.3rem black dashed;
  }

  .box-hover-on{
    display:none;
    text-align:left;
    line-height:150%;
  }


  .container-1 div:hover .box-hover-on{
    display:block;
  }

  .box-yellow{
    background-color:#FFEE17;
  }
  .box-pupple{
    background-color:#7F66F8;
    color:#fff;
    border:.3rem black solid;
  }
  .box-blue{
    background-color:#406FFA;
    color:#fff;
  }

  .box-orenge{
    background-color:#F79C1B;
    color:#fff;
  }
  .box-jamong{
    background-color:#FF5454;
    color:#fff;
  }

  .box-white{
    background-color:#FFF;
  }
  
  .box-green{
    background-color:#85ECCF;
  }