/* google-degine_style.css */
body{
  margin:0;
  padding:0;
}

  .container-1{
  }
  .container-1 div{
    padding:10px;
    text-align:center;
    height:20%;
    transition:all 1s;
  }

  .container-1 div:hover{
    height:100%;
    border:5px black solid;
  }
  .container-1 div:hover div{
    font-size:4rem;
    margin:auto;
    width:50%;
    height:auto;
    border:5px black solid;
  }
  .box-pupple{
    background-color:#7F66F8;
    color:#fff;
    border:5px black solid;
  }

  .box-orenge{
    background-color:#F79C1B;
    color:#fff;
  }

  .box-white{
    background-color:#FFF;
  }
  
  .box-green{
    background-color:#85ECCF;
  }