/* body */
body{}
#columns{
  column-width:300px;
  /* 멀티 컬럼 지정을 해야하는데 두가지 방법이 있음
  
  column-count:3;
  3으로 지정하게되면 웹브라우저는 컬럼 3개를 만들어 내게된다.
  
  column-width:300px;
  각각의 컬럼에 width값을 준다 300픽셀로 주게되면 웹 브라우저는 300픽셀에 맞게 컬럼의 숫자를 조정하게 됨
  즉 300픽셀이라고 하는 컬럼값에 맞게 웹 브라우저가 지정해줌
  
  유연한 column-width값이 더 유용함*/
  border:5px solid green;
  column-gap:15;
  /*따라서 갭을 0으로 조정*/
  /*어느정도의 간격을 주고 싶다면 golumn-gap을 조정 15픽셀정도 줘보면 간격이 벌어짐*/
  
  /* 하지만 위 아래의 간격이 아직 벌어지지 않음 */
}
#columns figure{
  display: inline-block;
  border:1px solid rgba(0,0,0,0.2);
  /* 크롬에서 확인한 결과 피규어는 기본으로 위아래로 16픽셀 좌우로는 40픽셀의 마진을 가지고 있음.
    마진을 없애기*/
  margin: 0;
  /* 그럼에도 불구하고 여전히 간격이 조금 있는 이유는 column-gap이 존재하다고함*/
  margin-bottom:15px;
  /* margin-bottom을 15픽셀 정도 줘보면 위 아래 간격이 벌어짐*/
  padding:10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  /* 그림자 효과주기 x축 2px y축도 2px */
  
}
#columns figure img{
  width: 100%;
}
#columns figure figcaption{
  border-top:1px solid rgba(0,0,0,0.2);
  padding:10px;
  margin-top:11px;
}