/* body */
body{}
.tree, .tree ul{
  list-style:none;
  padding-left:20px; /* 간격 0으로했다 너무 이상해서 20픽셀로 패딩값 설정*/
}
.tree label:before{
  content: '\f256';
  font-family:fontello;
}
.tree a{
  text-decoration:none;
}
.tree a:before{
  content:'\e800';
  font-family:fontello;
  /* before을 통해서 content라는 속성으로 원하는 아이콘의 문자값을 주입해주고 폰트를 지정*/
}
.tree input[type="checkbox"]{
  display:none;
  /* 만약 체크박스가 안보이게 해도 됨
     왜냐 인풋 체크박스를 클릭하면 체크박스가 체크되고 체크박스가 화면에 보이지 않는다고하더래도
     체크박스의 기능은 동작하기 때문임 */
}
.tree input[type="checkbox"]:checked~ul{
  display:none;
}
/* 대가로를 치면 속성 선택자*/
/* display none이 먹히고 있다는것은 input checkbox를 제대로 가리키고 있다는것*/
/* :checked란 이 웹페이지의 모든 인풋중에 타입 속성이 체크박스인 태그중에 체크가 되어 있는걸 선택하는 선택자*/
/* ~ul란 체크박스중에 체크가 된 태그 이후에 등장하는 ul태그와 그 뒤의 태그들을 선택하다는 선택자 */
.tree input[type="checkbox"]:checked+label:before{
/* 체크드 되었을때 그 체크박스 바로 뒤에 있는 레이블에 대한 선택자*/
  content:'\f255';
  font-family:fontello;
}